<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @competition.title %>
</p>

<p>
  <b>User:</b>
  <%= @competition.user_id %>
</p>


<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
