<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @competition.title %>
</p>

<p>
  <b>User:</b>
  <%= @user.name %>
</p>
<p><strong>Attendees: </strong>
    <% if @competition.users.exclude?(@user)  %>
      <%= link_to 'Attend Competition', attend_competition_path(@competition.id), :method => :post %>
    <% else %>
      <%= link_to 'Withdraw', withdraw_competition_path(@competition.id), :method => :post %>
    <% end %>

    <ul>
        <% for attendee in @competition.users %>
          <li><%= link_to attendee.name, user_path %></li>
          <% if attendee.daily != [] %>
           <p><%= attendee.daily %></p>
           <p><%= attendee.daily.first(7).sum %></p>
          <% end %>
        <% end %>   
    </ul>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
