<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @device %>
        <p><%= @device.provider %> user</p>
        <p><%= @todaySteps %> steps today</p>
        <p><%= @day1 %> steps one day</p>
        <p><%= @day2 %> steps two day</p>
        <p><%= @day3 %> steps three day</p>
        <p><%= @day4 %> steps four day</p>
        <p><%= @day5 %> steps five day</p>
        <p><%= @day6 %> steps six day</p>
      <% end %>
    </section>
  </aside>
  <div class="span8">

  </div>
</div>