<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
    <div class="span8">
    <% if @user.competitions.any? %>
      <h3>Competitions (<%= @user.competitions.count %>)</h3>
      <ol class="microposts">
        <%= render @competitions %>
      </ol>
      <%= will_paginate @competitions %>
    <% end %>
  </div>
</div>
</div>